{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1>Vos tâches</h1>
    <a class="btn btn-primary" href="{{ path('app_task_new') }}">Créer une tâche</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Priorité</th>
                <th>Date de rendu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td class="
                        {% if task.priority == 'Basse' %}
                            bg-success
                        {% elseif task.priority == 'Moyenne' %}
                            bg-warning
                        {% elseif task.priority == 'Haute' %}   
                            bg-danger
                        {% endif %}
                ">{{ task.priority }}</td>
                <td>{{ task.dueDate ? task.dueDate|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">Modifier</a>
                    <a href="{{ path('app_task_delete', {'id': task.id}) }}">Supprimer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Aucune tâche.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}